.collapse {
  background: none;
  border: 2px solid black;
  padding: 20px 10px;
  cursor: pointer;
  margin-bottom: 40px;
}

.content {
  min-height: 0;
  height: 0;
  overflow: hidden;
}

.content > div {
  padding-top: 20px;
  text-align: left;
}
